# Composer
/vendor/

# Environment files
.env
#.env.local
#.env.*.local

# IDE and editor files
.vscode/
.idea/

# PHP specific
*.log
*.cache
*.tmp
*.temp

# Testing
/coverage/
# .phpunit.result.cache

# # Backup files
# *.bak
# *.backup
# *.old

# Temporary files
temp/
tmp/
.history/

# Logs
logs/